*{
    margin: 0;
    padding: 0;
}
.galeria{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}
.img{
    width: 300px;
    height: 200px;
}