body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.btn-modern{
    height: 30px;
    width: 100px;
    margin: 10px;
    text-align: center;
    border: none;
    background-color: aquamarine;
    border-radius: 5px;

}

.btn-modern:hover{
    animation: traslacion 0.4s  forwards  ;
    animation-play-state: paused;
    background-color: red;
    color: black;
    border-bottom: solid 2px rgba(37, 37, 37, 0.473);

}

@keyframes traslacion{
    0%{
        transform: translateY(-5px);
    }
}