
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
  
}
body{
    background-color: #161717;
}
.container{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 400px;
}
.container h3{
    color: white;
}
.button{
    align-self: flex-start;
    display: flex;
    gap: 20px;
}
.google-btn{
    background-color: #1a73e8;
    height: 40px;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 2px;
    cursor: pointer;

}
.google-btn:hover{
    opacity: 0.6;
}
.google-btn picture{
    width: 36px;
    height: 36px;
    background-color: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.google-btn picture img{
    width: 75%;
}
.google-btn span{
    color: white;
    padding: 14px;
    font-weight: 500;
}
.twitter-btn{
    color: #bbb;
    background-color: #eee;
    border: none;
    width: 40px;
    border-radius: 4px;
    cursor: pointer;
}
.twitter-btn:hover{
    background-color: #ddd;
}

.separator{
    display: flex;
    width: 100%;
    gap: 12px;
}
.separator hr{
    flex-grow: 1;
    border: none;
    border-top: 1px solid #ccc;
}

.separator span{
    color: #bbb;
}

.section-inputs{
    display: flex;
    gap: 20px;
    width: 100%;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
}
label {
 display: flex;
 flex-direction: column;
 grid-area: 4px;
}
label span{
    color: white;
    font-weight: 700;
}
.section-inputs label input{
        width: 80%;
        background-color:#212121;
        border: none;
        padding: 10px 20px;
        border-radius: 10px;
        outline: none;
        font-size: 14pt;
  
}
label input{
    width: 100%;
    background-color:#212121;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 14pt;
    transition: backgorund-color 0.2s, border 0.2s, box-sadow 0.2s;
}

label input:hover{
    background-color:  #454045;
    border: solid 1px  #a7a5a5;
    box-shadow: 0 0 4px #eb50ff4f;
}
label input:focus{
    background-color: white;
    border: solid 1px  #a7a5a5;
    box-shadow: 0 0 4px #eb50ff4f;
}

.checkbox-label{
    display: flex;
    flex-direction: row;

}
.checkbox-label input[type='checkbox']{
    width: 20px;
}
.checkbox-label span{
    font-weight:400;
}

.submit-btn{
    background-color: #ea4c89;
    color: white;
    font-weight: 500;
    font-size: 14pt;
    text-align: center;
    padding: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 300px;
    margin-top: 20px;
}

.submit-btn:hover{
    opacity: 0.75;
}